<section data-ng-controller="HomeController">

  <div class=" footer">

    <!--<div class="row">-->

    <div class="col-lg-3 stats-box">

      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn btn-success" ng-class="alert.colour">
              <i class="glyphicon glyphicon-euro" style="color:black" ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h1>{{numOfSavingsToday.count}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <span class="text-muted">Savings Today</span>
        </div>
      </div>

    </div>
    <div class="col-lg-3 stats-box">

      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn btn-success" ng-class="alert.colour">
              <i class="glyphicon  glyphicon-euro" style="color:black" ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h1>{{numOfSavings.count}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <span class="text-muted">Total Savings</span>
        </div>
      </div>

    </div>

    <section data-ng-controller="SettingsController">

      <div class="col-lg-3 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <button type="button" class="btn btn-white" ng-class="alert.colour">
                <i class="glyphicon glyphicon-user" style="color:black" ng-class="alert.icon"></i>
              </button>
            </h1>
          </div>
          <div class="col-xs-8">
            <h1>{{numOfUsersToday.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
            <span class="text-muted">Users Joined Today</span>
          </div>
        </div>

      </div>
      <div class="col-lg-3 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <button type="button" class="btn btn-white" ng-class="alert.colour">
                <i class="glyphicon glyphicon-user" style="color:black" ng-class="alert.icon"></i>
              </button>
            </h1>
          </div>
          <div class="col-xs-8">
            <h1>{{numOfUsers.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
            <span class="text-muted">Total Users</span>
          </div>
        </div>

      </div>
    </section>

      <div class="col-lg-3 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <button type="button" class="btn btn-warning" ng-class="alert.colour">
                <i class="glyphicon glyphicon-comment" style="color:black" ng-class="alert.icon"></i>
              </button>
            </h1>
          </div>
          <div class="col-xs-8">
            <h1>{{numOfPostsToday.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
            <span class="text-muted">Comments Today</span>
          </div>
        </div>

      </div>

      <div class="col-lg-3 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <button type="button" class="btn btn-warning" ng-class="alert.colour">
                <i class="glyphicon glyphicon-comment" style="color:black" ng-class="alert.icon"></i>
              </button>
            </h1>
          </div>
          <div class="col-xs-8">
            <h1>{{numOfPosts.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
            <span class="text-muted">Total Comments</span>
          </div>
        </div>

      </div>

    <div class="col-lg-3 stats-box">

      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn btn-primary" ng-class="alert.colour">
              <i class="glyphicon glyphicon-edit" style="color:black" ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">

          <h1>5</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <span class="text-muted">Coupons Today</span>
        </div>
      </div>

    </div>
    <div class="col-lg-3 stats-box">

      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn btn-primary" ng-class="alert.colour">
              <i class="glyphicon glyphicon-edit" style="color:black" ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h1>25</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <span class="text-muted">Total Coupons</span>
        </div>
      </div>

    </div>





  </div>

</section>
