<section data-ng-controller="HomeController">

  <div class="col-sm-12" id="below-navbar">

    <ul class="nav nav-tabs img-rounded" id="hottest-tabs">

      <li role="presentation" ng-class="{ 'active' : hottestsorted}"><a href="#" ng-click="toggleClass(1);"><i>
      </i> Hottest </a>
      </li>

      <li role="presentation " ng-class="{ 'active' : newestsorted}"><a href="#" ng-click="toggleClass(2);"><i>
      </i> Newest </a>
      </li>

      <li role="presentation " ng-if="authentication.user.roles[1] =='admin'"><a href="#"
                                                                                 ng-click="toggleReported();"><i>
      </i> Reported </a>
      </li>

      <!--<li ng-show="top6" class="top6tabactive" role="presentation " ng-class="{ 'active' : top6}"><a href="#" ng-click="toggleTop();"> Top Savings </a>-->
      <!--</li>-->
      <!--<li ng-hide="top6" class="top6tab" role="presentation " ng-class="{ 'active' : top6}"><a href="#" ng-click="toggleTop();"> Top Savings 1</a>-->
      <!--</li>-->


      <!--<li class="dropdown  brand-dropdown " dropdown>-->
      <!--<a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button"> <i>-->
      <!--&lt;!&ndash;class="glyphicon glyphicon-search"&ndash;&gt; </i> {{selectedLogo}} <span class="caret"></span>-->
      <!--</a>-->
      <!--<ul class="dropdown-menu">-->

      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy=''; setFilterText('All') ; setLogo('All')">All</a></li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy='Littlewoods'; setFilterText('Littlewoods') ; setLogo('Littlewoods')">LittleWoods</a>-->
      <!--</li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy='Argos'; setFilterText('Argos') ; setLogo('Argos')">Argos</a>-->
      <!--</li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy='ScrewFix'; setFilterText('Screwfix')">ScrewFix</a></li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy='Amazon'; setFilterText('Amazon')">Amazon</a></li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy='Penneys'; setFilterText('Penneys')">Penneys</a></li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected"-->
      <!--ng-click="filterBy='Tesco'; setFilterText('Tesco')">Tesco</a></li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected" ng-click="filterBy='Lidl'; setFilterText('Lidl')">Lidl</a>-->
      <!--</li>-->
      <!--<li role="presentation"><a href="#" ng-selected="selected" ng-click="filterBy='Aldi'; setFilterText('Aldi')">Aldi</a>-->
      <!--</li>-->

      <!--</ul>-->
      <!--</li>-->

      <!--<li role="presentation "><a><i></i><img src="{{brandLogo}}" class="brand-logo-thumbnail" alt="SaveMe.ie"/></a>-->
      <!--</li>-->


    </ul>


    <ul role="presentation" class="nav nav-tabs submit-tab">
      <!--<li role="presentation"><input type="text" ng-model="search" class="form-control" placeholder="Search"></li>-->

      <!--<li role="presentation"><a href="/savings/create" ng-click="setUserImage()"><i class="glyphicon glyphicon-plus-sign"></i> Submit </a></li>-->

      <!-- If logged In-->
      <li role="presentation"><a href="/savings/create" ng-click="setUserImage()"><i
        class="glyphicon glyphicon-plus-sign"></i> Submit </a></li>


    </ul>


  </div>


  <section data-ng-controller="SavingsController" data-ng-init="find()">

    <div class="col-lg-9 main-deals">


      <!--Deals Array Start-->

      <div class="list-group-home-deals">

        <div class="spotlight-deal" data-ng-hide="(savings |lessThan:{'created.$date':500}).length === 0">

          <h4>Todays Top 6</h4>

          <div class="row spotlight-deal-inner">

            <div ng-repeat="saving in savings|orderBy:'votesreal'|lessThan:{'created.$date':500}|limitTo:6"
                 class="col-lg-2 ">

              <div class="thumbnail outer-box text-center">
                <div class="image-outer-box">
                  <div class="image-box">
                    <a ng-href="/savings/{{saving._id}}"><img class="image-box-image" src="{{saving.urlimage}}"/></a>
                  </div>
                </div>
                <div class="text-box">
                  <a ng-href="/savings/{{saving._id}}"> <span class="bolder">&euro;{{saving.price.toFixed(2)}}</span> @
                    {{saving.retailer}}</a>
                </div>
              </div>


            </div>

          </div>

        </div>

        <div ng-show="reportedPosts"
             dir-paginate="saving in savings|orderBy:orderByField:!reverseSort|filter:{reported:true}|itemsPerPage:10"
             class="list-group-item">


          <div class="row">

            <div class="col-lg-2 left-box">

              <div class="row deal-votes center-block">

                <h1 ng-bind="saving.votes"></h1>

              </div>

              <div class="row saving-link link-button-home">

                <!--<button class="btn btn-default "><i class="glyphicon glyphicon-thumbs-up"></i> Like</button>-->

                <div class="btn-group-vertical hot-cold-buttons" role="group" aria-label="Vertical button group">

                  <!--Logged Out Buttons-->

                  <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup"
                             type="button"
                             class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                  <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup"
                             type="button"
                             class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                  <!--Logged In Buttons-->

                  <md-button aria-label="button" ng-disabled="disableButtonUp(saving)" ng-show="authentication.user"
                             ng-click="upVoteHome(saving); removeVotesDailyCall()" type="button"
                             class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                  <md-button aria-label="button" ng-disabled="disableButtonDown(saving)" ng-show="authentication.user"
                             ng-click="downVoteHome(saving)" type="button"
                             class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>


                </div>

              </div>


            </div>

            <div class="col-lg-8 middle-box">


              <div class="col-lg-12 middle-title">

                <!--<h4 href="#!/savings/{{saving._id}}" ng-bind="saving.title +' (&euro;'+  saving.price +' @ '+  saving.retailer+')'"></h4>-->
                <h4><a class="timeframe-row-item-3-text" ng-href="/savings/{{saving._id}}">{{saving.title}} (<span
                  class="bolder">&euro;{{saving.price.toFixed(2)}} @ {{saving.retailer}})</span></a>
                </h4>

              </div>

              <div class="col-lg-12 single-middle-product-details-home">

                <!--<p>{{saving.details}}</p>-->
                <text-angular ta-toolbar="[[]]" ng-bind-html="saving.details"></text-angular>

              </div>

              <div class="col-lg-12 middle-post-details">
                <section data-ng-controller="PostsController">

                  <div class="col-lg-8 middle-posted-by">
                    <a ng-href="/users/{{saving.user._id}}"><img ng-src="{{saving.user.profileImageURL}}"
                                                                 class="small-profile-image-thumbnail"
                                                                 alt="{{saving.user._id}}" height="20px"
                                                                 width="20px"/> <span class="username"
                                                                                      data-ng-bind="saving.user.username"></span></a>
                    |
                    <span am-time-ago="saving.created"></span>
                    <!-- | <a class="username" ng-href="/savings/{{saving._id}}"> Comments : {{numOfCommentsSaving.count}}</a>-->
                  </div>

                  <!--<div class="col-lg-4 middle-posted-by ">-->
                  <!--<div fb-like="savingUrl(saving._id)"></div>-->
                  <!--</div>-->

                </section>
                <!--<div class="col-lg-6 middle-time-of-posting">Posted On <span data-ng-bind="saving.created | date:'mediumDate'"></span></div>-->

              </div>


              <!--<small class="list-group-item-text">-->
              <!--Posted on-->
              <!--<span data-ng-bind="saving.created | date:'medium'"></span>-->
              <!--by-->
              <!--<span data-ng-bind="saving.user._id"></span>-->
              <!--</small>-->


            </div>

            <div class="col-lg-2 right-box">

              <div class="row deal-image thumbnail thumbnail-preview center-block">

                <a ng-href="/savings/{{saving._id}}">

                  <img class="home-saving-image" src="{{saving.urlimage}}"/>

                </a>

              </div>

              <div class="row center-block save-button">
                <a data-ng-href="/savings/{{saving._id}}">
                  <md-button aria-label="button" class="save-button-md">Save</md-button>
                </a>
              </div>


            </div>

          </div>


        </div>
        <!--<div ng-show="reportedPosts" dir-paginate="saving in savings|orderBy:orderByField:!reverseSort|filter:{retailer:filterBy}|itemsPerPage:10" class="list-group-item">-->
        <div ng-hide="reportedPosts"
             dir-paginate="saving in savings|orderBy:orderByField:!reverseSort|filter:{retailer:filterBy}|itemsPerPage:10"
             class="list-group-item">


          <div class="row">

            <div class="col-lg-2 left-box">

              <div class="row deal-votes center-block">

                <h1 ng-bind="saving.votes"></h1>

              </div>

              <div class="row saving-link link-button-home">

                <!--<button class="btn btn-default "><i class="glyphicon glyphicon-thumbs-up"></i> Like</button>-->

                <div class="btn-group-vertical hot-cold-buttons" role="group" aria-label="Vertical button group">

                  <!--Logged Out Buttons-->

                  <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup"
                             type="button"
                             class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                  <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup"
                             type="button"
                             class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                  <!--Logged In Buttons-->

                  <md-button aria-label="button" ng-disabled="disableButtonUp(saving)" ng-show="authentication.user"
                             ng-click="upVoteHome(saving); removeVotesDailyCall()" type="button"
                             class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                  <md-button aria-label="button" ng-disabled="disableButtonDown(saving)" ng-show="authentication.user"
                             ng-click="downVoteHome(saving)" type="button"
                             class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>


                </div>

              </div>


            </div>

            <div class="col-lg-8 middle-box">


              <div class="col-lg-12 middle-title">

                <!--<h4 href="#!/savings/{{saving._id}}" ng-bind="saving.title +' (&euro;'+  saving.price +' @ '+  saving.retailer+')'"></h4>-->
                <h4><a class="timeframe-row-item-3-text" ng-href="/savings/{{saving._id}}">{{saving.title}} (<span
                  class="bolder">&euro;{{saving.price.toFixed(2)}} @ {{saving.retailer}})</span></a>
                </h4>

              </div>

              <div class="col-lg-12 single-middle-product-details-home">

                <!--<p>{{saving.details}}</p>-->
                <text-angular ta-toolbar="[[]]" ng-bind-html="saving.details"></text-angular>

              </div>

              <div class="col-lg-12 middle-post-details">
                <section data-ng-controller="PostsController">

                  <div class="col-lg-8 middle-posted-by">
                    <a ng-href="/users/{{saving.user._id}}"><img ng-src="{{saving.user.profileImageURL}}"
                                                                 class="small-profile-image-thumbnail"
                                                                 alt="{{saving.user._id}}" height="20px"
                                                                 width="20px"/> <span class="username"
                                                                                      data-ng-bind="saving.user.username"></span></a>
                    |
                    <span am-time-ago="saving.created"></span>
                    <!-- | <a class="username" ng-href="/savings/{{saving._id}}"> Comments : {{numOfCommentsSaving.count}}</a>-->
                  </div>

                  <!--<div class="col-lg-4 middle-posted-by ">-->
                  <!--<div fb-like="savingUrl(saving._id)"></div>-->
                  <!--</div>-->

                </section>
                <!--<div class="col-lg-6 middle-time-of-posting">Posted On <span data-ng-bind="saving.created | date:'mediumDate'"></span></div>-->

              </div>


              <!--<small class="list-group-item-text">-->
              <!--Posted on-->
              <!--<span data-ng-bind="saving.created | date:'medium'"></span>-->
              <!--by-->
              <!--<span data-ng-bind="saving.user._id"></span>-->
              <!--</small>-->


            </div>

            <div class="col-lg-2 right-box">

              <div class="row deal-image thumbnail thumbnail-preview center-block">

                <a ng-href="/savings/{{saving._id}}">

                  <img class="home-saving-image" src="{{saving.urlimage}}"/>

                </a>

              </div>

              <div class="row center-block save-button">
                <a data-ng-href="/savings/{{saving._id}}">
                  <md-button aria-label="button" class="save-button-md">Save</md-button>
                </a>
              </div>


            </div>

          </div>


        </div>
      </div>


      <!-------      END OF DEAL LIST      -------->


      <!--Deals Array End-->


      <div class="alert alert-warning text-center" data-ng-hide="!savings.$resolved || savings.length">
        No Savings yet, why don't you <a href="/#!/savings/create">create one</a>?
      </div>

      <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
      </div>

      <!--Deals Array End-->


    </div>

    <div class="col-lg-3 right-column hidden-phone">

      <div class="row right-column-view-inner">

        <div class="row right-column-inner-two">

          <h4 class="text-center app-download-title">Get the SaveMe App</h4>

          <img src="modules/core/client/img/savemead.png">

          <div class="row text-center ">
            <md-button aria-label="button" type="button" class=" download-app-button-android center-block">Android</md-button>
          </div>
          <div class="row  text-center">
            <md-button aria-label="button" type="button" class=" download-app-button-ios">iOS</md-button>
          </div>
          <div class="row text-center app-download-buttons">
            <md-button aria-label="button" type="button" class=" download-app-button-windows">Windows</i></md-button>
          </div>


        </div>

        <div class="row right-column-inner-one">

          <div class="best-box">

            <ul class="nav nav-tabs img-rounded best-box-tabs">

              <li ng-click="timeFrame(1);" role="presentation" ng-class="{ 'active' : weekly}"><a href="#"> Weekly </a>
              </li>

              <li ng-click="timeFrame(2);" role="presentation " ng-class="{ 'active' : monthly}"><a href="#">
                Monthly </a>
              </li>


            </ul>
            <div class="best-box-inner">

              <div ng-show="weekly" class="weekly-list">

                <div
                  ng-repeat="saving in savings |  orderBy: '-votesreal'| lessThan: {'created.$date':168} | limitTo:10"
                  class=" timeframe-row">

                  <div class="row timeframe-row-item">
                    <div class="col-lg-3 timeframe-row-item-0">
                      <div class="col-lg-12 text-center center-block timeframe-row-item-1">{{saving.votes}}</div>
                      <div class="col-lg-12 text-center center-block timeframe-row-item-2">

                        <!--<md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"-->
                        <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                        <!--</md-button>-->

                        <!--<md-button ng-show="authentication.user" ng-click="upVoteHome(saving)" type="button"-->
                        <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                        <!--</md-button>-->

                        <a ng-href="/users/{{saving.user._id}}"><img ng-src="{{saving.user.profileImageURL}}"
                                                                     class="small-profile-image-thumbnail"
                                                                     alt="{{saving.user.username}}" height="20px"
                                                                     width="20px"/></a></span>

                      </div>
                    </div>
                    <div class="col-lg-9 text-center timeframe-row-item-3">

                      <a class="timeframe-row-item-3-text" ng-href="/savings/{{saving._id}}">{{saving.title}} (<span
                        class="bolder">&euro;{{saving.price.toFixed(2)}} @ {{saving.retailer}})</span></a>

                    </div>
                  </div>

                </div>

              </div>

              <div ng-show="monthly" class="monthly-list">

                <div
                  ng-repeat="saving in savings |  orderBy: '-votesreal' | lessThan: {'created.$date':744}| limitTo:10"
                  class=" timeframe-row">

                  <div class="row timeframe-row-item">
                    <div class="col-lg-3 timeframe-row-item-0">
                      <div class="col-lg-12 text-center center-block timeframe-row-item-1">{{saving.votes}}</div>
                      <div class="col-lg-12 text-center center-block timeframe-row-item-2">

                        <!--<md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"-->
                        <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                        <!--</md-button>-->

                        <!--<md-button ng-show="authentication.user" ng-click="upVoteHome(saving)" type="button"-->
                        <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                        <!--</md-button>-->

                        <a ng-href="/users/{{saving.user._id}}"><img ng-src="{{saving.user.profileImageURL}}"
                                                                     class="small-profile-image-thumbnail"
                                                                     alt="{{saving.user.username}}" height="20px"
                                                                     width="20px"/></a></span>

                      </div>
                    </div>
                    <div class="col-lg-9 text-center timeframe-row-item-3">

                      <a class="timeframe-row-item-3-text" ng-href="/savings/{{saving._id}}">{{saving.title}} (<span
                        class="bolder">&euro;{{saving.price.toFixed(2)}} @ {{saving.retailer}})</span></a>

                    </div>
                  </div>

                </div>

              </div>


            </div>
          </div>


        </div>



        <!--<div class="col-lg-12 right-column-inner-three">-->


        <!--</div>-->


      </div>


      <div class="col-lg-9 ">


      </div>
    </div>

  </section>

</section>
