<section data-ng-controller="SavingsController" data-ng-init="findOne()">
  <section data-ng-controller="PostsController" data-ng-init="find()">

    <div class="row" id="below-navbar">

      <ul class="nav nav-tabs img-rounded" id="hottest-tabs">
        <li role="presentation" class="active"><a href="#">
          {{saving.category}}</a>
        </li>
      </ul>

      <ul class="nav nav-tabs submit-tab-view">

        <li ng-show="authentication.user._id == saving.user._id" role="presentation"><a href="#"
                                                                                        ng-click="removeSaving();">Delete</a>
        </li>
        <li ng-show="authentication.user._id == saving.user._id" role="presentation"><a href="#"
                                                                                        ui-sref="savings.edit({savingId: saving._id})">Edit</a>
        </li>
        <li role="presentation"><a href="/savings/create" ng-click="setUserImage()"><i
          class="glyphicon glyphicon-plus-sign"></i> Submit </a></li>

      </ul>
    </div>

    <div class="row main-body-view">

      <div class="col-lg-9 main-deals-view-saving">

        <!--Savings Array Start-->


        <div class="list-group-home-single">
          <div class="row">
            <div class="col-lg-2" id="single-left-box">

              <!--<div class="left-box-one"><h4 class="list-group-item-heading" data-ng-bind="saving.name"></h4></div>-->

              <div class="left-box-one">
                <h1 class="list-group-item-heading" data-ng-bind="saving.votes"></h1>
              </div>


              <div class="left-box-two">
                <div class="btn-group-vertical hot-cold-buttons" role="group" aria-label="Vertical button group">

                  <md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                             class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>
                  <md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                             class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                  <md-button ng-show="authentication.user" ng-click="upVoteHome(saving)" type="button"
                             class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>
                  <md-button ng-show="authentication.user" ng-click="downVoteHome(saving)" type="button"
                             class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                </div>

              </div>

              <div class="left-box-three" data-ng-show="authentication.user">

                <!-- <button type="button" class="btn-xs btn-warning">Hide</button> -->
                <!--<button type="button" class="btn-xs btn-danger">Report</button>-->

              </div>


            </div>

            <div class="col-lg-8" id="single-middle-box">
              <div class="col-lg-12 single-middle-title">
                <h4  class="black-title"
                data-ng-bind="saving.title +' (&euro;'+  saving.price.toFixed(2) +' @ '+  saving.retailer+')'"></h4>
              </div>

              <div class="col-lg-12 single-middle-product-details">
                <!--<p>{{saving.details}}</p>-->
                <text-angular ta-toolbar="[[]]" ng-bind-html="saving.details"></text-angular>
              </div>

              <div class="col-lg-12 middle-post-details">

                <div class="col-lg-6 middle-posted-by">
                  <a ng-href="/users/{{saving.user._id}}"><img ng-src="{{saving.user.profileImageURL}}"
                                                        class="small-profile-image-thumbnail"
                                                        alt="{{saving.user._id}}" height="20px"
                                                        width="20px"/> <span class="username"
                                                                                 data-ng-bind="saving.user.username"></span></a>
                  |
                  <span am-time-ago="saving.created"></span>
                </div>
                <!--<div class="col-lg-6 middle-time-of-posting">Posted On <span data-ng-bind="saving.created | date:'mediumDate'"></span></div>-->

              </div>


              <!--<small class="list-group-item-text">-->
              <!--Posted on-->
              <!--<span data-ng-bind="saving.created | date:'medium'"></span>-->
              <!--by-->
              <!--<span data-ng-bind="saving.user.username"></span>-->
              <!--</small>-->


            </div>

            <div class="col-lg-2 right-box-view">

              <div class="row deal-image thumbnail thumbnail-preview-view center-block">
                <a ng-href="/savings/{{saving._id}}"><img src="{{saving.urlimage}}" width="110"
                                                          height="110"/></a>

              </div>

              <div class="row center-block save-button-view">
                <a data-ng-href="/savings/{{saving._id}}">
                  <md-button href="{{saving.link}}" target="_blank" class="save-button-md-view">Save</md-button>
                </a>
              </div>


            </div>

          </div>


        </div>

        <!-- Comments Section Start -->

        <div class="comments-box-under-deal">


          <div class="comment-headers" ng-if="(posts | filter:{ savingId: saving._id}).length > 0">

            <div  ng-if="(posts | filter:{ savingId: saving._id}).length > 2">
            <h3>Top Comments</h3>
            </div>

            <div class="list-group comments-list-top-comment">

              <div  ng-if="(posts | filter:{ savingId: saving._id}).length === 3">
                <div dir-paginate="post in posts | filter:{ savingId: saving._id}|orderBy : '-votes' | itemsPerPage:1"
                     class="list-group-item comment-box-single" >


                  <div class="row outer-comment-box">
                    <div class="col-sm-1 comment-box-left">


                      <img ng-src="{{post.user.profileImageURL}}" alt="{{post.user._id}}"
                           class="comment-profile-image"/>


                    </div>
                    <div class="col-sm-10  comment-box-middle">

                      <div class="col-sm-12  comment-box-middle-top">

                        <text-angular ta-toolbar="[[]]" ng-bind-html="post.details"></text-angular>


                      </div>

                      <div class="col-sm-5 middle-posted-by">


                        <a ng-href="/users/{{post.user._id}}">
                         <span class="username" data-ng-bind="post.user.username"></span> | <span
                        am-time-ago="post.created"></span></a>


                      </div>
                      <div class="col-sm-5 comment-box-middle-bottom">

                        <!--<small class="list-group-item-text">-->
                        <!--Replies : <span>{{post.replies.length}}</span>-->
                        <!--</small>-->

                      </div>

                      <div class="col-sm-2 comment-box-middle-bottom">

                        <small class="list-group-item-text">
                    <span><a href="" ng-show="authentication.user" ng-click="voteCommentUp(post)">Vote Up
                      ({{post.voters.length}})</a></span>
                        </small>

                      </div>

                    </div>

                  </div>


                </div>
              </div>
              <div  ng-if="(posts | filter:{ savingId: saving._id}).length > 3">
                <div dir-paginate="post in posts | filter:{ savingId: saving._id}|orderBy : '-votes' | itemsPerPage:2"
                     class="list-group-item comment-box-single" >


                  <div class="row outer-comment-box">
                    <div class="col-sm-1 comment-box-left">


                      <img ng-src="{{post.user.profileImageURL}}" alt="{{post.user.username}}"
                           class="comment-profile-image"/>


                    </div>
                    <div class="col-sm-10  comment-box-middle">

                      <div class="col-sm-12  comment-box-middle-top">

                        <text-angular ta-toolbar="[[]]" ng-bind-html="post.details"></text-angular>


                      </div>

                      <div class="col-sm-5 middle-posted-by">


                        <a ng-href="/users/{{post.user._id}}">
                          <span class="username" data-ng-bind="post.user.username"></span> | <span
                          am-time-ago="post.created"></span></a>


                      </div>
                      <div class="col-sm-5 comment-box-middle-bottom">

                        <!--<small class="list-group-item-text">-->
                        <!--Replies : <span>{{post.replies.length}}</span>-->
                        <!--</small>-->

                      </div>

                      <div class="col-sm-2 comment-box-middle-bottom">

                        <small class="list-group-item-text">
                    <span><a href="" ng-show="authentication.user" ng-click="voteCommentUp(post)">Vote Up
                      ({{post.voters.length}})</a></span>
                        </small>

                      </div>

                    </div>

                  </div>


                </div>
              </div>



              <div class="comment-headers">
                <h3>Comments</h3>
              </div>

              <div class="list-group comments-list">

                <div dir-paginate="post in posts|filter:{ savingId: saving._id}|itemsPerPage:7"
                     class="list-group-item comment-box-single">

                  <div class="row outer-comment-box">
                    <div class="col-sm-1 comment-box-left">


                      <img ng-src="{{post.user.profileImageURL}}" alt="{{post.user.username}}"
                           class="comment-profile-image"/>


                    </div>
                    <div class="col-sm-10  comment-box-middle">

                      <div class="col-sm-12  comment-box-middle-top">

                        <text-angular ta-toolbar="[[]]" ng-bind-html="post.details"></text-angular>


                      </div>

                      <div class="col-sm-5 middle-posted-by">


                        <a ng-href="/users/{{post.user._id}}">
                          <span class="username" data-ng-bind="post.user.username"></span></a> | <span
                          am-time-ago="post.created"></span>


                      </div>

                      <div class="col-sm-5 comment-box-middle-bottom">

                        <!--<small class="list-group-item-text">-->
                        <!--Replies : <span>{{post.replies.length}}</span>-->
                        <!--</small>-->

                      </div>

                      <div class="col-sm-2 comment-box-middle-bottom">

                        <small class="list-group-item-text">
                      <span><a href="" ng-show="authentication.user" ng-click="voteCommentUp(post)">Vote Up
                        ({{post.voters.length}})</a></span>
                        </small>

                      </div>

                    </div>

                  </div>


                </div>

                <div class="text-center">
                  <dir-pagination-controls></dir-pagination-controls>
                </div>


                <!--<div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">-->
                <!--No Comments yet, why don't you write one?-->
                <!--</div>-->

                <div ng-show="error" class="text-danger">
                  <strong ng-bind="error"></strong>
                </div>

              </div>

            </div>

          </div>

          <h3 ng-show="authentication.user">New Comment</h3>

          <div class="row sign-up-to-comment-box" ng-hide="authentication.user">
            <div class="col-md-2 center-block sign-in-to-comment">
              <h3></h3>
            </div>
            <div class="col-md-4 center-block sign-in-to-comment">
              <h3>Sign In to Comment</h3>
            </div>
            <div class="col-md-4">

              <section ng-controller="AuthenticationController">
                <div ng-hide="authentication.user">
                  <div class="social-buttons">
                    <a ng-click="callOauthProvider('/api/auth/facebook')" class="btn btn-fb"><i
                      class="fa fa-facebook"></i> Facebook</a>
                    <a ng-click="callOauthProvider('/api/auth/google')" class="btn btn-tw"><i
                      class="fa fa-google"></i> Google</a>
                  </div>
                </div>

              </section>

            </div>
            <div class="col-md-2 center-block sign-in-to-comment">
              <h3></h3>
            </div>
            <!--<div class="col-md-6 center-block">-->
            <!--<section ng-controller="AuthenticationController">-->
            <!--<div class="comment-headers" ng-hide="authentication.user">-->
            <!--<div class="social-buttons">-->
            <!--<a ng-click="callOauthProvider('/api/auth/facebook')" class="btn btn-fb"><i-->
            <!--class="fa fa-facebook"></i> Facebook</a>-->
            <!--<a ng-click="callOauthProvider('/api/auth/google')" class="btn btn-tw"><i-->
            <!--class="fa fa-google"></i> Google</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--</div>-->

          </div>


          <div class="row comments-section" ng-show="authentication.user">
            <form class="form-horizontal" novalidate>
              <fieldset>


                <div class="form-group">

                  <!--<label class="control-label" for="details">Comment</label>-->
                  <!--<div class="controls">-->
                  <!--<input type="text" data-ng-model="details" id="details" class="form-control"-->
                  <!--placeholder="Comment" required>-->

                  <!--</div>-->

                  <!--<label class="control-label" for="details">Comment:</label>-->

                  <!--<textarea class="form-control" data-ng-model="details" rows="5" id="details">Comment.....</textarea>-->

                  <text-angular ta-toolbar="[['bold','italics'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                              ['insertLink']]" id="details" name="details" data-ng-model="details">

                  </text-angular>

                </div>


                <div class="col-lg-7" ng-show="authentication.user">
                  <div class="form-group">
                    <button class="btn btn-default" type="submit" value="Submit Comment" ng-click="create(); reload()">
                      Submit Comment
                    </button>
                  </div>

                </div>


              </fieldset>
            </form>
          </div>


        </div>
      </div>

      <div class="col-lg-3 right-column-saving-view">

        <div class="row right-column-view-inner">

          <div class="row right-column-inner-one-view">


            <div class="best-box-view">

              <ul class="nav nav-tabs img-rounded best-box-tabs">

                <li role="presentation" class="active"><a href="#"> {{saving.retailer}} </a>
                </li>

              </ul>
              <div class="best-box-inner-view">

                <div ng-show="weekly" class="weekly-list">

                  <!--<div ng-repeat="saving in savings |  filter: { retailer: 'retailer' } | limitTo:10"-->
                  <!--class=" timeframe-row">-->

                  <div ng-repeat="saving in savings | filter: { retailer: saving.retailer } | limitTo:10"
                       class=" timeframe-row">

                    <div class="row timeframe-row-item">
                      <div class="col-lg-3 timeframe-row-item-0">
                        <div class="col-lg-12 text-center center-block timeframe-row-item-1">{{saving.votes}}</div>
                        <div class="col-lg-12 text-center center-block timeframe-row-item-2">

                          <!--<md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"-->
                          <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                          <!--</md-button>-->

                          <!--<md-button ng-show="authentication.user" ng-click="upVoteHome(saving)" type="button"-->
                          <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                          <!--</md-button>-->

                          <a ng-href="/users/{{saving.user._id}}"><img ng-src="{{saving.user.profileImageURL}}"
                                                                class="small-profile-image-thumbnail"
                                                                alt="{{saving.user.username}}" height="20px"
                                                                width="20px"/></span></a>

                        </div>
                      </div>
                      <div class="col-lg-9 text-center timeframe-row-item-3">

                        <a class="timeframe-row-item-3-text" ng-href="/savings/{{saving._id}}">{{saving.title}} (&euro;{{saving.price.toFixed(2)}})
                        </a>

                      </div>
                    </div>

                  </div>

                </div>


              </div>
            </div>

          </div>

          <!--<div class="row  right-column-inner-two">-->


          <!--</div>-->

          <!--<div class="row  right-column-inner-three">-->


          <!--</div>-->

        </div>


      </div>

    </div>
  </section>
</section>









