
<section data-ng-controller="HomeController">
  <section data-ng-controller="CouponsController" data-ng-init="find()">

    <div class="row" id="below-navbar">

      <ul class="nav nav-tabs img-rounded" id="hottest-tabs">

        <li role="presentation" ng-class="{ 'active' : hottestsortedCoupon}"><a href="#" ng-click="toggleClassCoupon(1);"><i>
        </i> Hottest </a>
        </li>

        <li role="presentation " ng-class="{ 'active' : newestsortedCoupon}"><a href="#" ng-click="toggleClassCoupon(2);"><i>
        </i> Newest </a>
        </li>

        <!--<li ng-show="top6" class="top6tabactive" role="presentation " ng-class="{ 'active' : top6}"><a href="#" ng-click="toggleTop();"> Top Coupons </a>-->
        <!--</li>-->
        <!--<li ng-hide="top6" class="top6tab" role="presentation " ng-class="{ 'active' : top6}"><a href="#" ng-click="toggleTop();"> Top Coupons 1</a>-->
        <!--</li>-->


        <!--<li class="dropdown  brand-dropdown " dropdown>-->
          <!--<a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button"> <i>-->
            <!--&lt;!&ndash;class="glyphicon glyphicon-search"&ndash;&gt; </i> {{selectedLogo}} <span class="caret"></span>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu">-->

            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy=''; setFilterText('All') ; setLogo('All')">All</a></li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy='Littlewoods'; setFilterText('Littlewoods') ; setLogo('Littlewoods')">LittleWoods</a>-->
            <!--</li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy='Argos'; setFilterText('Argos') ; setLogo('Argos')">Argos</a>-->
            <!--</li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy='ScrewFix'; setFilterText('Screwfix')">ScrewFix</a></li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy='Amazon'; setFilterText('Amazon')">Amazon</a></li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy='Penneys'; setFilterText('Penneys')">Penneys</a></li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected"-->
                                       <!--ng-click="filterBy='Tesco'; setFilterText('Tesco')">Tesco</a></li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected" ng-click="filterBy='Lidl'; setFilterText('Lidl')">Lidl</a>-->
            <!--</li>-->
            <!--<li role="presentation"><a href="#" ng-selected="selected" ng-click="filterBy='Aldi'; setFilterText('Aldi')">Aldi</a>-->
            <!--</li>-->

          <!--</ul>-->
        <!--</li>-->

        <!--<li role="presentation "><a><i></i><img src="{{brandLogo}}" class="brand-logo-thumbnail" alt="SaveMe.ie"/></a>-->
        <!--</li>-->


      </ul>


      <ul role="presentation" class="nav nav-tabs submit-tab-view">
        <!--<li role="presentation"><input type="text" ng-model="search" class="form-control" placeholder="Search"></li>-->

        <!--<li role="presentation"><a href="/coupons/create" ng-click="setUserImage()"><i class="glyphicon glyphicon-plus-sign"></i> Submit </a></li>-->

        <!-- If logged In-->
        <li role="presentation"><a href="/coupons/create" ng-click="setUserImage()"><i
          class="glyphicon glyphicon-plus-sign"></i> Submit </a></li>


      </ul>


    </div>

    <div class="row main-body-view">


      <div class="col-lg-9 main-coupons">


        <!--Deals Array Start-->

        <div class="list-group-home-deals">

          <div
            dir-paginate="coupon in coupons|orderBy:orderByFieldCoupon:!reverseSort|filter:{retailer:filterBy}|itemsPerPage:10"
            class="list-group-item">


            <div class="row">

              <div class="col-lg-2 left-box">

                <div class="row deal-votes center-block">

                  <h1 ng-bind="coupon.votes"></h1>

                </div>

                <div class="row coupon-link link-button-home">

                  <!--<button class="btn btn-default "><i class="glyphicon glyphicon-thumbs-up"></i> Like</button>-->

                  <div class="btn-group-vertical hot-cold-buttons" role="group" aria-label="Vertical button group">

                    <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                               class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>
                    <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                               class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                    <md-button aria-label="button" ng-show="authentication.user" ng-click="upVoteHome(coupon)" type="button"
                               class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>
                    <md-button aria-label="button" ng-show="authentication.user" ng-click="downVoteHome(coupon)" type="button"
                               class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>


                  </div>

                </div>


              </div>

              <div class="col-lg-10 middle-box">


                <div class="col-lg-12 middle-title">

                  <!--<h4 href="#!/coupons/{{coupon._id}}" ng-bind="coupon.title +' (&euro;'+  coupon.price +' @ '+  coupon.retailer+')'"></h4>-->
                  <h4>
                  <a ng-href="/coupons/{{coupon._id}}"  ng-bind="coupon.discount +'% '+ coupon.title +' @ '+  coupon.retailer "></a>
                  </h4>

                </div>

                <div class="col-lg-12 single-middle-product-details-home-coupon">

                  <div class="row">
                    <div class="col-lg-5 coupon-code-box">

                      <div class="text-center">Code : {{coupon.code}}</div>

                    </div>
                    <div class="col-lg-5 ">

                      <md-button  href="{{coupon.link}}" target="_blank" type="button"
                                 class=" visit-coupon-button">Copy code & Visit</md-button>


                    </div>
                  </div>


                </div>

                <div class="col-lg-12 single-middle-product-details-home-coupon-instructions">

                  <b>Instructions:</b>
                  <text-angular ta-toolbar="[[]]" ng-bind-html="coupon.instructions"></text-angular>

                </div>

                <div class="col-lg-12 middle-post-details">

                  <div class="col-lg-9 middle-posted-by">
                    <a ng-href="/users/{{coupon.user.username}}"><img ng-src="{{coupon.user.profileImageURL}}"
                                                          class="small-profile-image-thumbnail"
                                                          alt="{{coupon.user.username}}" height="20px"
                                                          width="20px"/> <span class="username" data-ng-bind="coupon.user.username"></span></a>
                    | <span data-ng-bind="coupon.created | date:'mediumDate'"> </span>
                  </div>

                  <section data-ng-controller="PostsController">
                  <!--<div class="col-lg-3 middle-posted-by">-->
                    <!--<a class="username" ng-href="/coupons/{{coupon._id}}">Comments</a>-->
                  <!--</div>-->
                    </section>


                  <!--<div class="col-lg-6 middle-time-of-posting">Posted On <span data-ng-bind="coupon.created | date:'mediumDate'"></span></div>-->

                </div>


                <!--<small class="list-group-item-text">-->
                <!--Posted on-->
                <!--<span data-ng-bind="coupon.created | date:'medium'"></span>-->
                <!--by-->
                <!--<span data-ng-bind="coupon.user.username"></span>-->
                <!--</small>-->


              </div>

              <!--<div class="col-lg-2 right-box">-->

              <!--<div class="row deal-image thumbnail thumbnail-preview center-block">-->
              <!--<a ng-href="/coupons/{{coupon._id}}"><img src="{{coupon.urlimage}}" width="110"-->
              <!--height="110"/></a>-->

              <!--</div>-->

              <!--<div class="row center-block save-button">-->
              <!--<a data-ng-href="/coupons/{{coupon._id}}" >-->
              <!--<md-button class="save-button-md">Save</md-button>-->
              <!--</a>-->
              <!--</div>-->


              <!--</div>-->

            </div>


          </div>


          <!-------      END OF DEAL LIST      -------->


        </div>

        <!--Deals Array End-->


        <div class="alert alert-warning text-center" data-ng-hide="!coupons.$resolved || coupons.length">
          No Deals yet, why don't you <a href="/#!/coupons/create">create one</a>?
        </div>

        <div class="text-center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>

        <!--Deals Array End-->


      </div>

      <div class="col-lg-3 right-column-coupons">

        <div class="row right-column-view-inner">

          <div class="row right-column-inner-one">

            <div class="best-box">

              <ul class="nav nav-tabs img-rounded best-box-tabs">

                <li ng-click="timeFrame(1);" role="presentation" ng-class="{ 'active' : weekly}"><a href="#"> Weekly </a>
                </li>

                <li ng-click="timeFrame(2);" role="presentation " ng-class="{ 'active' : monthly}"><a href="#">
                  Monthly </a>
                </li>


              </ul>
              <div class="best-box-inner">

                <div ng-show="weekly" class="weekly-list">

                  <div ng-repeat="coupon in coupons |  orderBy: '-votes' | limitTo:10| lessThan: {'created.$date':168}"
                       class=" timeframe-row">

                    <div class="row timeframe-row-item">
                      <div class="col-lg-3 timeframe-row-item-0">
                        <div class="col-lg-12 text-center center-block timeframe-row-item-1">{{coupon.votes}}</div>
                        <div class="col-lg-12 text-center center-block timeframe-row-item-2">

                          <!--<md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"-->
                          <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                          <!--</md-button>-->

                          <!--<md-button ng-show="authentication.user" ng-click="upVoteHome(coupon)" type="button"-->
                          <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                          <!--</md-button>-->

                          <a ng-href="/users/{{coupon.user.username}}"><img ng-src="{{coupon.user.profileImageURL}}"
                                                                class="small-profile-image-thumbnail"
                                                                alt="{{coupon.user.username}}" height="20px"
                                                                width="20px"/></a></span>

                        </div>
                      </div>
                      <div class="col-lg-9 text-center timeframe-row-item-3">

                        <a class="timeframe-row-item-3-text" ng-href="/coupons/{{coupon._id}}">{{coupon.title}}(&euro;{{coupon.price}}
                          @
                          {{coupon.retailer}}</a>

                      </div>
                    </div>

                  </div>

                </div>

                <div ng-show="monthly" class="monthly-list">

                  <div ng-repeat="coupon in coupons |  orderBy: '-votes' | limitTo:10| lessThan: {'created.$date':744}"
                       class=" timeframe-row">

                    <div class="row timeframe-row-item">
                      <div class="col-lg-3 timeframe-row-item-0">
                        <div class="col-lg-12 text-center center-block timeframe-row-item-1">{{coupon.votes}}</div>
                        <div class="col-lg-12 text-center center-block timeframe-row-item-2">

                          <!--<md-button ng-hide="authentication.user" ui-sref="authentication.signup" type="button"-->
                          <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                          <!--</md-button>-->

                          <!--<md-button ng-show="authentication.user" ng-click="upVoteHome(coupon)" type="button"-->
                          <!--class="vote-up-button-small"><i class="glyphicon glyphicon-arrow-up"></i>-->
                          <!--</md-button>-->

                          <a ng-href="/users/{{coupon.user.username}}"><img ng-src="{{coupon.user.profileImageURL}}"
                                                                class="small-profile-image-thumbnail"
                                                                alt="{{coupon.user.username}}" height="20px"
                                                                width="20px"/></a></span>

                        </div>
                      </div>
                      <div class="col-lg-9 text-center timeframe-row-item-3">

                        <a class="timeframe-row-item-3-text" ng-href="/coupons/{{coupon._id}}">{{coupon.title}}(&euro;{{coupon.price}}
                          @
                          {{coupon.retailer}}</a>

                      </div>
                    </div>

                  </div>

                </div>


              </div>
            </div>


          </div>

          <!--<div class="col-lg-12 right-column-inner-two">-->


          <!--</div>-->

          <!--<div class="col-lg-12 right-column-inner-three">-->


          <!--</div>-->


        </div>


        <div class="col-lg-9 ">


        </div>
      </div>


    </div>
  </section>
</section>
